<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Slouch &mdash; {{ title }}</title>

    <link rel="shortcut icon" href="/static/img/favicon.png">

    <link rel="stylesheet" href="/static/css/slouch.css">
  </head>
  <body>

    <h1 class="title">
      <img src="/static/img/logo.png">
      Slouch
      <small>Lightweight open-source desktop client for Slack&trade;.</small>
    </h1>

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
  </body>
</html>
