* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: sans-serif;
  margin: 0;
}

h1.title {
  background-color: #fff;
  box-shadow: 0 0 8px #ccc;
  font-size: 48pt;
  font-weight: normal;
  margin: 0 0 48px 0;
  padding: 16px 0;
  text-align: center;
}

h1.title small {
  display: block;
  font-size: 16pt;
}

.spinner {
  text-align: center;
}

@media only screen and (min-width: 840px) {
  .container {
    margin: auto;
    width: 800px;
  }

  .media {
    float: left;
  }
}
